.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 80px; */
}

.foot-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 16px;
    margin: 80px;
}